  /* Define keyframes for typing animation */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Apply typing animation to text */
.typing-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 9s steps(90, end)  /* infinite */;  
   
    color: #fff; /* Text color */
    background: linear-gradient(45deg, #FF6B6B, #6B66FF); /* Gradient background color */
    padding: 20px; /* Add padding for better visibility */
    font-size: 20px; /* Adjust font size as needed */
    border-radius: 8px; /* Add rounded corners for a polished look */
}



.tiro-bangla-regular {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-bangla-regular-italic {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: italic;
}

/* text  animation  */

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}